@import "breakpoint";
@import "compass/reset";
@import "helpers";
@import "fonts";

/* Vars */

$siteWidth: 4275;

/* Colors */

$cBackground: #f4f5fa;
$cWhite:      #dee5f2;
$cPurple:     #6900cc;
$cOrange:     #f7796a;
$cBlue:       #caf3f5;
$cLightBlue:  #56decb;
$cDarkGreen:  #1d7066;
$cGreen:      #37dccb;
$cBrown:      #4c3c3d;

/* Breakpoints */

$breakpoint-small-portrait:  (max-width 640px)  (orientation portrait);
$breakpoint-small-landscape: (max-width 768px)  (orientation landscape);
$breakpoint-ipad-portrait:   (max-width 768px)  (orientation portrait);
$breakpoint-medium-portrait: (max-width 1400px);

/* Main elements */

.breakpoint {
  display:none;
  position:fixed; right: 0; top: 0;
  width: 100%;
  z-index: 1000;
  text-align:center;
  padding: 10px;
  @include opacity(.9);
  z-index: 100000;

  span { display:none; }
}

body {

  @include box-sizing(border-box);

  font-family: "SohoStd-Regular";
  line-height:normal;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: $cBackground;

}

a {
  text-decoration:none;
}

input {
  font-family: "SohoStd-Regular";
}

strong {
  font-family: "SohoStd-Bold";
}

sup {
  font-size:.5em;
  vertical-align: super;
}

h2 {
  font-size: 2.1em;
  margin: 0 0 1em 0;
  font-family: "SohoStd-Regular";
}

h3 {
  font-size: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: "SohoStd-Bold";
}

.logo {
  display: block;
  width: percentage(2855/3693);
  margin: 0 0 percentage(219/$siteWidth) 0;
}

.separator {
  width: 20px;
  height: 1px;
  background:$cBlue;
  margin: 0 0 1.5em 0;
}

.btn {
  display: block;
  padding: 12px 0;
  margin: auto;

  font-weight:bold;
  font-size:1.2em;

  background:$cPurple;
  color: $cWhite;
  text-align:center;

  @include simple-transition(background, 200ms);
}

/*
 * ---------------------
 * NAVIGATION
 * ---------------------
 */

nav {

  @include clearfix();

  background: $cPurple;
  padding: percentage(83/$siteWidth) 0;
  z-index: 10000;

  &.fixed {
    width:100%;
    top: 0; left: 0;
    position:fixed;
  }

  .inner {
    width: percentage(3693/$siteWidth);
    padding: 0;
    margin:auto;
  }

  ul {

    @include clearfix();
    float:right;

    li {
      float:left;
      margin-right: percentage(93/$siteWidth);

      &:last-child { margin: 0; }
      &.active a { color: $cLightBlue; }
    }

    a  { font-size:1.2em; color: $cWhite; }

  }

  .navigation {
    float:left;
    width: 68%;
  }

  .actions {
    float:right;
    width: 28%;

    li {
      float:right;
      margin-left: percentage(93/830);

      a { color: $cOrange; }
    }

  }
}

/* Margins */

section.main .inner,
section.contact .inner {
  width: percentage(3693/$siteWidth);
  padding: 40px 0;
  margin:auto;
}

section.sponsors .inner {
  width: 86%;
  margin:auto;
  padding: 4.5em 0;
}

section.storytellers .inner {
  width: 86%;
  margin:auto;
  padding: 4.5em 0;
}

section.storytelling .inner {
  width: percentage(2969/$siteWidth);
  padding: 50px 0;
}

section.nominate .inner,
section.issues .inner {
  width: percentage(3693/$siteWidth);
  padding: 50px 0;
  margin-left:7%;
}

section .inner {
  width: percentage(2969/$siteWidth);
  margin-left:7%;
  padding: 4.5em 0;
}

/* Color definition */

section.main {
  color: $cOrange;

  .separator { background: $cOrange; }
}

section.about {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.storytelling {
  background: $cDarkGreen;
  color: $cGreen;

  .separator { background: $cGreen; }
}

section.organizers {
  background: $cBlue;
  color: $cPurple;

  .separator { background: $cPurple; }
}

section.issues {
  color:$cBrown;

  .separator { background: $cBrown; }
}

section.storytellers {
  background: $cOrange;
  color: $cWhite;

  .separator { background: $cWhite; }
}

section.when_where {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.contact {
  background: $cBrown;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.sponsors {
  color: $cBrown;

  .separator { background: $cBrown; }
}

section.nominate {
  color: $cWhite;
  background:$cOrange;

  a { color: $cWhite; text-decoration: underline; }
  .separator { background: $cWhite; }
}

/* Section content */

section p {
  font-size: 1.1em;
  margin: 0 0 1em 0;

  @include breakpoint($breakpoint-ipad-portrait) {
    font-size: 1em;
  }
  @include breakpoint($breakpoint-small-landscape) {
    font-size: 1em;
  }
  @include breakpoint($breakpoint-small-portrait) {
    font-size: 1em;
  }

}

/* ---------------------
 * MAIN
 * ---------------------
 */

section.main {
  background: url(../img/home_bkg.png) no-repeat center center ;
  @include background-size(cover);

  ul {

    @include clearfix();
    width: 70%;

    li {
      float:left;
      width: 50%;
      padding-right: 10px;
      @include box-sizing(border-box);
      color:$cBrown;

      p { margin: 0; }

      &:last-child {
        padding: 0;
        margin: 0;
      }

      .btn {
        margin: 3% 0 0 0;
        padding: 1em 0;

        background:$cOrange;
        font-family: "SohoStd-Bold";
        color:$cBrown;
        line-height: 1em;

        &:hover {
          background: $cGreen;
        }

      }
    }
  }
}


/* ---------------------
 * STORYTELLING
 * ---------------------
 */

section.storytelling {

  h2 {
    margin: 0 0 percentage(142/$siteWidth) 0;
  }

  .inner > p {
    margin: 0 0 percentage(140/$siteWidth) 0;
    width: 90%;
  }

  p, strong {
    font-size:1.1em;
  }

  ul {

    li {

      @include clearfix();

      div { float: left; }

      .text {
        float:left;
        /*background:green;*/
        width:90%;
      }

      .num {
        font-size:3em;
        margin: 0 .4em 0 0;
      }

      p  {
        display: block;
      }

      strong {
        display: block;
        clear:right;
        color: $cWhite;
        margin: .2em 0 .1em 0;
      }

    }
  }
}

/* ---------------------
 * ORGANIZERS
 * ---------------------
 */

section.organizers .inner {
  width: 86%;
  margin:auto;
  padding: 4.5em 0;

  h2 { width: 75%; }

  ul {
    width: 100%;
    @include clearfix();

    li {
      float:left;
      width: 25%;

      min-width: 186px;
      /*max-width: 213px;*/
      min-height: 410px;
      padding: 20px;

      @include box-sizing(border-box);

      p {
        font-size:.9em;
        width:auto;
      }

      img {
        display:block;
        @include size(100%, 100%);
        margin: 0 0 1em 0;
      }
    }
  }
}

/* ---------------------
 * WHEN & WHERE
 * ---------------------
 */

section.when_where {
  min-height: 786px;

   background: url(../img/map.png) no-repeat center center ;
   @include background-size(cover);

   position:relative;
   clear:both;
   overflow:hidden;

  .overlay {

    @include position(0, false, false, 0);
    @include size(475px, 468px);
    background: url(../img/when_where_overlay.png) no-repeat;

    text-align: center;

    .content {
      margin: auto;
      width: 80%;
      text-align:left;
      padding: 60px 0;

      h2 { font-size: 2em; }
      p  { font-size: 1.3em; line-height: 150%; }

      h2, h3, p { color: $cLightBlue; }

    }

  }

}

/* ---------------------
 * STORYTELLERS
 * ---------------------
 */

section.storytellers .inner {

  ul {

    margin: auto;
    width: 100%;

    @include clearfix();

    li {
      text-align: center;
      width: 45%;
      @include box-sizing(border-box);

      &:first-child { float:left;  }
      &:last-child  { float:right; }

      strong {
        display: block;
        font-size:1.3em;
        margin: 0 0 1em 0;
        color: $cPurple;
      }

      p {
        line-height: 150%;
        font-size:1.3em;
        margin: 0 0 1.5em 0;
      }

      .explanation {
        margin: auto;
        width: percentage(1030/1539);
        color:$cPurple;
        font-size:1em;
      }

      .btn  {
        margin: 0 auto .7em auto;
        padding: 4% 0;
        width: 70%;

        font-weight:bold;
        font-size:1.5em;
        background:$cPurple;
        color: $cWhite;

        &:hover {
          background: $cDarkGreen;
          color: $cWhite;
        }
      }
    }
  }
}

/* ---------------------
 * ABOUT
 * ---------------------
 */

section.about {

  p {
    line-height: 150%;
    font-size: 1.3em;
  }
}

/* ---------------------
 * ISSUES
 * ---------------------
 */

section.issues .inner {

  .header {
    width: percentage(2905/$siteWidth);
    margin: 0 0 percentage(144/$siteWidth) 0;

    h2  { font-size: 1.5em; }

  }

  .graph {
    display: block;
    margin: auto;
    background: url(../img/flower@2x.png) no-repeat;
    background-size: 100% 100%;
    @include size(600px);
  }

}
/*
 * ---------------------
 * CONTACT
 * ---------------------
 */

section.contact {

  .inner {
    @include clearfix();
  }

  .contact {

    float:left;
    margin: 0 percentage(515/3693) 0 0;

    address {
      line-height:150%;
      margin: 0 0 28px 0;
    }

    .mail {
      display: block;
      color:$cOrange;
      margin: 0 0 67px 0;

      &:hover {
        color: $cGreen;
      }
    }

    .social {

      @include clearfix();

      li {

        float:left;
        margin: 0 29px 0 0;

        a {

          display:block;

          &.twitter  {
            background: url(../img/twitter.png) no-repeat;
            @include size(35px, 29px);
          }

          &.facebook {
            background: url(../img/facebook.png) no-repeat;
            @include size(32px, 32px);
          }
        }
      }
    }
  }

  .informed_and_involved {
    float: left;
  }

  .btn {
    background:$cOrange;
    color: $cBrown;
    margin: 0 0 15px 0;

    &:hover { background: $cGreen; color: $cBrown; }

  }

}

/* ---------------------
 * SPONSORS
 * ---------------------
 */

section.sponsors {
  background: #fff url(../img/home_bkg.png) no-repeat 100% 100%;

  ul {
    width: 100%;
    margin: 80px auto 0 auto;
    @include clearfix();
    text-align: center;

    li {
      display:block;
      float:left;
      @include box-sizing(border-box);
      width: 25%;
      text-align:center;
      padding: 20px;

      &:last-child { margin: 0; }

      img {
        display:block;
        @include size(100%, 100%);
        text-align:center;
      }

      a {
        display:block;
        width:100%;
        text-align:center;

        img { margin: auto; max-width: 230px; }

      }
    }
  }
}

/* ---------------------
 * NOMINATE
 * ---------------------
 */

section.nominate {

  p {
    width: 70%;
    font-size: 1.5em;
    line-height: 150%;

    &.deadline {
      color: $cPurple;
      font-family: "SohoStd-Bold";
    }

  }

  form {
    width: 70%;
    @include clearfix();
  }

  .btn {
    float:left;
    padding: 1em;
    font-size:1.5em;

    background:$cPurple;
    font-family: "SohoStd-Bold";
    text-decoration:none;
    color:$cWhite;
    line-height: 1em;

    &:hover {
      background: $cGreen;
    }

  }


}

/*
 * ---------------------
 * RESPONSIVE
 * ---------------------
 */

@include mobile {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .mobile { display: inline-block; }
    .desktop { display: none; }
  }

  nav { display: none; }

}

@include mobile-portrait {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;

    .portrait { display: inline-block; }
    .desktop  { display: none; }
  }

  .logo { width: 100%; }

  h2 { font-size: 1.6em; }
  h3 { font-size: .9em; margin: 0 0 1em 0; }

  section.main {

    ul, ul li, .btn { width: 100%; }
    ul li { float:none; margin: 0 0 30px 0; }

  }

  section.issues .inner,
  section.about .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;
  }

  section.about {
    p { font-size: 1em; }
  }

  section.issues .inner {
    .header {
      width: 100%;
      margin: 0 0 20px 0;

      h2  {
        font-size: 1.2em;
      }
    }
  }

  section.storytellers .inner {

    h2  { font-size:1.7em; }

    ul li {

      width: 100%;
      float:none;
      margin: 0 0 40px 0;

      strong { font-size:1.1em; }
      p     { font-size:1.1em; }
      .btn  { width: 100%; font-size:1.0em; }
      .explanation { width: 90%; font-size:.9em; }

    }
  }

  section.sponsors .inner {

    background: #fff url(../img/home_bkg.png) no-repeat auto auto;
    padding: 3.5em 0;

    ul {

      margin: 20px auto 0 auto;

      li {
        width: 100%;
        float:none;
        margin: 0 0 30px 0;
        padding: 0;

        a img {
          max-width: 200px;
        }
      }
    }
  }

  section.contact .inner {

    width: 90%;
    margin: auto;
    padding: 50px 0;

    .contact {
      .mail { margin: 0 0 30px 0; }
      margin: 0 0 20px 0;
    }

    .informed_and_involved {
      width: 100%;
    }
  }

  section.organizers .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;

    ul {
      width: 100%;
      margin:auto;
      text-align:center;

      li {
        float:none;
        margin:auto;
        width: 100%;
        min-height: 260px;
        text-align: left;
      }
    }
  }

  section.storytelling .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;

    h2 {
      margin: 0 0 20px 0;
    }

    & > p {
      width: 100%;
      margin: 0 0 20px 0;
    }

    p, strong { font-size:1.0em; }
    .num { font-size: 2em; }
    .text { width: 250px; }
  }

}

@include mobile-landscape {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .mobile, .landscape { display: inline-block; }
    .desktop { display: none; }
  }

  .logo { width: 100%; }
  h2 { font-size: 1.4em; }
  h3 { font-size: .75em; margin: 0 0 1em 0; }

  section.main {

    ul, ul li, .btn { width: 100%; }
    ul li { float:none; margin: 0 0 30px 0; }

  }

  section.about {
    p { font-size: 1em; }
  }

  section.issues .inner,
  section.about .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;
  }

  section.issues .inner {
    .header {
      width: 100%;
      margin: 0 0 20px 0;

      h2  {
        font-size: 1.2em;
      }
    }

  }

  section.storytellers .inner {

    h2  { font-size:1.7em; }

    ul li {

      width: 100%;
      float:none;
      margin: 0 0 40px 0;

      strong { font-size:1.1em; }
      p     { font-size:1.0em; }
      .btn  { width: 100%; font-size:1.0em; }
      .explanation { width: 78%; font-size:.9em; }

    }
  }

  section.sponsors .inner {

    background: url(../img/home_bkg.png) no-repeat center center ;
    @include background-size(cover);

    padding: 3.5em 0;

    ul {
      margin: 20px auto 0 auto;

      li {
        float:left;
        width: 50%;
        padding: 10px;
        min-height:100px;

        a img {
          max-width: 200px;
        }
      }
    }
  }

  section.contact .inner {

    width: 90%;
    margin: auto;
    padding: 50px 0;

    .contact {
      .mail { margin: 0 0 30px 0; }
      margin: 0 0 20px 0;
    }

    .informed_and_involved {
      width: 100%;
    }
  }

  section.organizers .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;

    ul {
      width: 100%;

      li {
        min-height: 260px;
        width: 50%;
      }
    }

  }

  section.storytelling .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;

    h2 {
      margin: 0 0 20px 0;
    }

    & > p {
      width: 100%;
      margin: 0 0 20px 0;
    }

    p, strong { font-size:1em; }
    .num { font-size: 2.2em; }
    .text { width: 380px; }
  }

}

@include tablet {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .tablet { display: inline-block; }
    .portrait, .desktop { display: none; }
  }

  h3  { font-size: .9em; }

}

@include tablet-portrait {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .tablet, .portrait { display: inline-block; }
    .desktop { display: none; }
  }

  h2 { font-size: 1.9em; }
  h3 { font-size: 1em; margin: 0 0 1em 0; }

  nav ul li a { font-size: .75em; }

  section.storytellers .inner {

    h2  { font-size:1.7em; }

    ul li {

      width: 48%;

      strong { font-size:.9em; }
      p     { font-size:1.0em; }
      .btn  { font-size:1.0em; }
      .explanation { font-size:.9em; }

    }
  }

  section.organizers .inner {
    ul {
      width: 100%;

      li { width: 50%; }
    }
  }

  section.storytelling .inner {
    width: 90%;
    margin: auto;
    padding: 50px 0;

    p, strong { font-size:1em; }
    .num { font-size: 2.5em; }
  }

}

@include tablet-landscape {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .tablet, .landscape { display: inline-block; }
    .portrait { display: none; }
  }

  h2 { font-size: 1.9em; }
  h3 { font-size: 1em; margin: 0 0 1em 0; }

  nav ul li a { font-size: 1.0em; }

  section.storytellers .inner {

    h2  { font-size:1.7em; }

    ul li {

      width: 45%;

      strong { font-size:1.1em; }
      p     { font-size:1.0em; }
      .btn  { font-size:1.0em; }
      .explanation { font-size:.9em; }

    }
  }

  section.organizers .inner {
    ul {

      li {
        min-height: 360px;
      }
    }
  }

  section.storytelling .inner {
    width: 80%;

    p, strong { font-size:1em; }
    .num { font-size: 2.5em; }
  }


}

@include desktop {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .desktop { display: inline-block; }
  }
}

@include desktop-and-up {
  .breakpoint {
    display:block;
    background:red;
    color: #fff;
    .desktop { display: inline-block; }
  }

  nav ul li a { font-size: 1.2em; }
  h2 { font-size: 2.9em; }
  h3 { font-size: 1.5em; margin: 0 0 1em 0; }

  section.storytellers .inner {
    ul li {
      p {
        font-size:1.47em;
      }
    }
  }

  section.issues .inner {

    .graph {
      display: block;
      margin: auto;
      background: url(../img/flower@2x.png) no-repeat;
      background-size: 100% 100%;
      @include size(800px);
    }

  }

  section.organizers .inner {
    ul li {
      min-height: 480px;

      p {
        font-size:1em;
        width:auto;
      }
    }
  }

  section.storytelling .inner {
    p, strong { font-size:1.5em; }
    .num { font-size: 4em; }
  }

}

@include retina {
  .breakpoint {
    display:block;
    background:orange;
    color: #fff;
    .retina { display: inline-block; }
  }

  @include mobile-portrait {
    section.issues .inner
    .graph { @include size(290px); }
  }

  section.issues .inner {
    .graph {
      display: block;
      margin: auto;
      background: url(../img/flower.png) no-repeat;
      background-size: 100% 100%;
      @include size(400px);
    }
  }

}



/* ---------------------
 * FORMS
 * ---------------------
 */


form {

  .input {
    margin: 0 0 20px 0;
    input, textarea { font-size: 1.5em; }

  }

  .inputs {
    @include clearfix();

    .input {
      float:left;
      width: 49%;
      @include box-sizing(border-box);
      &:last-child { float:right; }
    }
  }


}

.input {

  position:relative;
  padding: 10px;
  margin: 0 0 48px 0;

  background:$cBlue;

  input {
    padding: 0;

    border:none;
    background:none;
    font-size: 1em;
    color: $cBrown;
    outline:none;

    &::-webkit-input-placeholder { color:$cBrown; }
    &::-moz-placeholder { color:$cBrown; } /* firefox 19+ */
    &:-ms-input-placeholder { color:$cBrown; } /* ie */
    &:-moz-placeholder { color:$cBrown; }

  }

  textarea {
    padding: 0;
    width: 100%;
    min-height: 100px;

    &.big {
      min-height: 200px;
    }

    border:none;
    background:none;
    font-size: 1em;
    color: $cBrown;
    outline:none;

    &::-webkit-input-placeholder { color:$cBrown; }
    &::-moz-placeholder { color:$cBrown; } /* firefox 19+ */
    &:-ms-input-placeholder { color:$cBrown; } /* ie */
    &:-moz-placeholder { color:$cBrown; }

  }

  .submit {
    float:right;
    @include position(0, 0, none, none);
    @include size(17px, 43px);
    padding: 0 13px;

    background: $cOrange url(../img/right_arrow.png) no-repeat 50% 50%;
  }

}

