@import "breakpoint";
@import "compass/reset";
@import "helpers";
@import "fonts";

/* Vars */

$siteWidth: 4275;

/* Colors */

$cBackground: #f4f5fa;
$cWhite:      #dee5f2;
$cPurple:     #6900cc;
$cOrange:     #f7796a;
$cBlue:       #caf3f5;
$cDarkGreen:  #1d7066;
$cGreen:      #37dccb;
$cBrown:      #4c3c3d;

/* Breakpoints */

$breakpoint-S: max-width 640px, min-resolution 1.5dppx;

$breakpoint-small-portrait:  max-width 800px, orientation portrait;
$breakpoint-medium-portrait: max-width 1145px, orientation portrait;

/* Main elements */

body {
  font-family: "SohoStd-Regular";
  line-height:normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: $cBackground;

  @include box-sizing(border-box);
}

a {
  text-decoration:none;
}

input {
  font-family: "SohoStd-Regular";
}

strong {
  font-family: "SohoStd-Bold";
}

sup {
  font-size:.5em;
  vertical-align: super;
}

h2 {
  font-size: 2.1em;
  margin: 0 0 1em 0;
  font-family: "SohoStd-Regular";
}

h3 {
  font-size: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: "SohoStd-Bold";
}

.logo {
  display: block;
  width: percentage(2855/3693);
  maring: 0 0 percentage(219/$siteWidth) 0;
}

.separator {
  width: 20px;
  height: 1px;
  background:$cBlue;
  margin: 0 0 1.5em 0;
}

.btn {
  display: block;
  padding: 4% 0;
  margin: auto;

  font-weight:bold;
  font-size:1.2em;

  background:$cPurple;
  color: $cWhite;
  text-align:center;

  @include simple-transition(background, 200ms);
}

nav {

  @include clearfix();

  @include breakpoint($breakpoint-small-portrait) {
    /*display:none;*/
    background:blue;
  }

  background: $cPurple;
  padding: percentage(83/$siteWidth) 0;

  &.fixed {
    width:100%;
    top: 0; left: 0;
    position:fixed;
  }

  .inner {
    width: percentage(3693/$siteWidth);
    padding: 0;
    margin:auto;
  }

  ul {
    @include clearfix();
    float:right;
  }

  ul li {
    float:left;
    margin-right: percentage(93/$siteWidth);

    &:last-child { margin: 0; }
  }

  ul li a  {
    font-size:1.0em;
    color: $cWhite;
  }

  .navigation {
    width: percentage(2232/3693);
    float:left;
  }

  .actions {
    float:right;
    width: percentage(830/3693);

    li {
      margin-right: percentage(93/830);

      @include breakpoint($breakpoint-medium-portrait) {
        background:red;
      }


      a { color: $cOrange; }
    }

  }
}

/* Margins */

section.main .inner,
section.sponsors .inner {
  width: percentage(3693/$siteWidth);
  padding: percentage(225/$siteWidth) 0;
  margin:auto;
}

section.storytelling .inner {
  width: percentage(2969/$siteWidth);
  padding: percentage(375/$siteWidth) 0;
}

section.issues .inner {
  width: percentage(3693/$siteWidth);
  padding: percentage(375/$siteWidth) 0;
  margin-left:7%;
}

section .inner {
  width: percentage(2969/$siteWidth);
  margin-left:7%;
  padding: 4.5em 0;
}

/* Color definition */

section.main {
  color: $cOrange;

  .separator { background: $cOrange; }
}

section.about {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.storytelling {
  background: $cDarkGreen;
  color: $cGreen;

  .separator { background: $cGreen; }
}

section.organizers {
  background: $cBlue;
  color: $cPurple;

  .separator { background: $cPurple; }
}

section.issues {
  color:$cBrown;

  .separator { background: $cBrown; }
}

section.storytellers {
  background: $cOrange;
  color: $cWhite;

  .separator { background: $cWhite; }
}

section.when_where {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.contact {
  background: $cBrown;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.sponsors {
  color: $cBrown;

  .separator { background: $cBrown; }
}

/* Section content */

section p {
  font-size: 1.1em;
  margin: 0 0 1em 0;
}


section.main {
  background: #fff url(../img/home_bkg.png) no-repeat 100% 100%;
}

section.main ul {
  @include clearfix();

  li {
    float:left;
    width: percentage(1219/$siteWidth);
    margin: 0 percentage(105/$siteWidth) 0 0;
    color:$cBrown;

    .btn {
      margin: 3% 0 0 0;
      background:$cOrange;
      color:$cBrown;

      &:hover {
        background: $cGreen;
      }
    }
  }
}

section.storytelling {
  h2 {
    margin: 0 0 percentage(142/$siteWidth) 0;
  }

  .inner > p {
    font-size: 1em;
    margin: 0 0 percentage(140/$siteWidth) 0;
  }

}

section.storytelling ul {


  li {
    @include clearfix();
  }

  div { float: left; }

  .num {
    font-size:2.9em;
    margin: 0 .4em 0 0;
  }

  p  {
    display: block;
    font-size:1em;
  }

  strong {
    display: block;
    clear:right;
    color: $cWhite;
    font-size:1em;
    margin: .2em 0 percentage(40/$siteWidth) 0;
  }
}

section.organizers .inner {
  width: 86%;
  margin:auto;
  padding: 4.5em 0;
}

section.organizers h2 {
}

section.organizers ul {

  margin: 0 0 1em 0;
  @include clearfix();

  li {
    float:left;

    /*width: 19.9766082%;*/
    width:23.5%;
    margin: 0 2% 0 0;

    &:last-child { margin: 0; }

    img, .pic {
      display:block;
      @include size(100%, 200px);
      margin: 0 0 1em 0;
      background:$cPurple;
    }
  }
}

section.storytellers .inner {
  width: percentage(3693/$siteWidth);
  margin:auto;
  padding: 4.5em 0;
}

section.storytellers ul {

  margin: auto;
  width: percentage(3424/3691);

  @include clearfix();

  li {
    text-align: center;

    p {
      line-height: 150%;
      font-size:1.15em;
      margin: 0 0 1.5em 0;
    }

    &:first-child {
      float:left;
      width: percentage(1539/3424);
    }

    &:last-child {
      float:right;
      width: percentage(1539/3424);
    }

    strong {
      display: block;
      font-size:1.1em;
      margin: 0 0 1em 0;
      color: $cPurple;
    }

    .explanation {
      margin: auto;
      width: percentage(1030/1539);
      color:$cPurple;
      font-size:1em;
    }

    .btn  {
      margin: 0 auto .7em auto;
      padding: 4% 0;
      width: percentage(1043/1539);

      font-weight:bold;
      font-size:1.2em;
      background:$cPurple;
      color: $cWhite;

      &:hover {
        background: $cDarkGreen;
        color: $cWhite;
      }
    }

  }
}

section.about {

  p {
    line-height: 150%;
  }
}

section.issues .inner {

  .header {
    width: percentage(2905/$siteWidth);
    margin: 0 0 percentage(144/$siteWidth) 0;
    h2  {
      font-size: 1.5em;
    }
  }


  .flower {
    display: block;
    margin: auto;
    width: percentage(2611/$siteWidth);
  }
}


section.contact {

  .inner {
    @include clearfix();
  }

  .input {

    position:relative;
    background:$cWhite;
    padding: 5% 7% 3% 7%;
    margin: 0 0 percentage(555/3693) 0;

    .submit {
      position:absolute;
      float:right;
      background: $cOrange;
      width: percentage(185/1403);
      height: 100%;
      top: 0; right: 0;
    /*background: url(../img/right_arrow.png) no-repeat;*/
    }

    input {
      width: percentage(1262/1403);
      padding: 0;
      border:none;
      background:none;
      font-size: 1em;
      color: $cBrown;
      outline:none;
    }

  }

  .contact {

    float:left;
    margin: 0 percentage(515/3693) 0 0;

    address {
      line-height:150%;
      margin: 0 0 percentage(555/3693) 0;
    }

    a {
      color:$cOrange;
      &:hover {
        color: $cGreen;
      }
    }

  }

  .informed_and_involved {
    float: left;
    width: percentage(1043/3693);
  }

  .btn {
    background:$cOrange;
    color: $cBrown;
    margin: 0 0 percentage(80/1043) 0;

    &:hover {
      background: $cGreen;
      color: $cBrown;
    }

  }

}


section.sponsors ul {

  width: 100%;

  @include clearfix();

  li {
    float:left;
    width: percentage(717/3693);
    height: 50px;
    margin: 0 percentage(253/3693) 0 0;
    &:last-child { margin: 0; }

    a {
      display:block;
      background:$cBrown;
      width:100%;
      height: 100%;

    }
  }
}

