/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "helpers";
@import "fonts";

$cBackground: #f4f5fa;
$cWhite:      #dee5f2;
$cPurple:     #6900cc;
$cOrange:     #f7796a;
$cBlue:       #caf3f5;
$cDarkGreen:  #1d7066;
$cGreen:      #37dccb;
$cBrown:      #4c3c3d;

body {
  font-family: "SohoStd-Regular";
  line-height:normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: $cBackground;

  @include box-sizing(border-box);
}

a {
  text-decoration:none;
}

strong {
  font-family: "SohoStd-Bold";
}

sup {
  font-size:.5em;
  vertical-align: super;
}

h2 {
  font-size: 2.1em;
  margin: 0 0 1em 0;
  font-family: "SohoStd-Regular";
}

h3 {
  font-size: 1.2em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: "SohoStd-Bold";
}

.separator {
  width: 20px;
  height: 2px;
  background:$cBlue;
  margin: 0 0 1.5em 0;
}


header {

  @include clearfix();

  background: $cPurple;
  /*border-bottom: 1px solid $cOrange;*/

  ul { @include inline-block(); }

  li {
    @include inline-block();
    margin-right:2%;
    &:last-child { margin-right: 0; }
  }

  a  {
    font-size:1.2em;
    color: $cWhite;
    /*font-family: "SohoStd-Bold";*/
  }

  .inner {
    width: 86%;
    margin:auto;
    padding: 1.5em 0;
  }

  .navigation {
    float:left;
    width: 52%;
  }

  .actions {
    float:right;
    width: 20%;
    text-align:right;
    li {
      margin-right:5%;

    }


    li a {
      color: $cOrange;
    }
  }


}

section .inner {
  width: 65%;
  margin-left:7%;
  padding: 4.5em 0;
}

/* Color definition */

section.about {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.storytelling {
  background: $cDarkGreen;
  color: $cGreen;

  .separator { background: $cGreen; }
}

section.organizers {
  background: $cBlue;
  color: $cPurple;

  .separator { background: $cPurple; }
}

section.issues {
  color:$cBrown;

  .separator { background: $cBrown; }
}

section.storytellers {
  background: $cOrange;
  color: $cWhite;

  .separator { background: $cWhite; }
}

section.when_where {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.contact {
  background: $cBrown;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.sponsors {
  color: $cBrown;

  .separator { background: $cBrown; }
}

/* Section content */

section.issues {

}

section.about {

  p {
    font-size: 1.5em;
    margin: 0 0 1em 0;
  }

}

/*.inner {
width: 100%;
margin:0;
}

img {

width: 100%;
margin:auto;
@include absolute-landscape-center(700px);

}
 */
