@import "compass/reset";
@import "helpers";
@import "fonts";

$siteWidth: 4275;

$cBackground: #f4f5fa;
$cWhite:      #dee5f2;
$cPurple:     #6900cc;
$cOrange:     #f7796a;
$cBlue:       #caf3f5;
$cDarkGreen:  #1d7066;
$cGreen:      #37dccb;
$cBrown:      #4c3c3d;

body {
  font-family: "SohoStd-Regular";
  line-height:normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: $cBackground;

  @include box-sizing(border-box);
}

a {
  text-decoration:none;
}

strong {
  font-family: "SohoStd-Bold";
}

sup {
  font-size:.5em;
  vertical-align: super;
}

h2 {
  font-size: 2.1em;
  margin: 0 0 1em 0;
  font-family: "SohoStd-Regular";
}

h3 {
  font-size: 1.2em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: "SohoStd-Bold";
}

.separator {
  width: 20px;
  height: 1px;
  background:$cBlue;
  margin: 0 0 1.5em 0;
}

.btn {
  display: block;
  /*width: percentage(1217/$siteWidth);*/
  /*background:$cPurple;*/
  /*color:$cWhite;*/
  /*font-size: 2em;*/
}

header {

  @include clearfix();

  background: $cPurple;

  ul {
    @include clearfix();
    float:right;
  }

  li {
    float:left;
    margin-right: percentage(93/$siteWidth);

    &:last-child { margin: 0; }
  }

  a  {
    font-size:1.0em;
    color: $cWhite;
  }

  .inner {
    width: percentage(3693/$siteWidth);
    margin:auto;
    padding: 1.5em 0;
  }

  .navigation {
    width: percentage(2232/$siteWidth);
    float:left;
  }

  .actions {
    float:right;
    width: percentage(830/$siteWidth);

    li {
      margin-right: percentage(93/830);
    }

    li a {
      color: $cOrange;
    }
  }
}

section .inner {
  width: percentage(2969/$siteWidth);
  margin-left:7%;
  padding: 4.5em 0;
}

/* Color definition */

section.about {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.storytelling {
  background: $cDarkGreen;
  color: $cGreen;

  .separator { background: $cGreen; }
}

section.organizers {
  background: $cBlue;
  color: $cPurple;

  .separator { background: $cPurple; }
}

section.issues {
  color:$cBrown;

  .separator { background: $cBrown; }
}

section.storytellers {
  background: $cOrange;
  color: $cWhite;

  .separator { background: $cWhite; }
}

section.when_where {
  background: $cPurple;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.contact {
  background: $cBrown;
  color: $cBlue;

  .separator { background: $cBlue; }
}

section.sponsors {
  color: $cBrown;

  .separator { background: $cBrown; }
}

/* Section content */

section p {
  font-size: 1.1em;
  margin: 0 0 1em 0;
}

section.storytelling ul {

  li {
    @include clearfix();
  }

  div { float: left; }

  .num {
    font-size:3.6em;
    margin: 0 .4em 0 0;
  }

  p  {
    display: block;
    font-size:1.2em;
  }

  strong {
    display: block;
    clear:right;
    color: $cWhite;
    font-size:1.3em;
    margin: .2em 0 0 0;
  }
}

section.organizers .inner {
  width: 86%;
  margin:auto;
  padding: 4.5em 0;
}

section.organizers h2 {
}

section.organizers ul {

  margin: 0 0 1em 0;
  @include clearfix();

  li {
    float:left;

    /*width: 19.9766082%;*/
    width:23.5%;
    margin: 0 2% 0 0;

    &:last-child { margin: 0; }

    img, .pic {
      display:block;
      @include size(100%, 200px);
      margin: 0 0 1em 0;
      background:$cPurple;
    }
  }
}

section.storytellers .inner {
  width: percentage(3693/$siteWidth);
  margin:auto;
  padding: 4.5em 0;
}

section.storytellers ul {

  margin: auto;
  width: percentage(3424/3691);

  @include clearfix();

  li {
    text-align: center;

    p {
      line-height: 150%;
      font-size:1.15em;
      margin: 0 0 1.5em 0;
    }

    &:first-child {
      float:left;
      width: percentage(1539/3424);
    }

    &:last-child {
      float:right;
      width: percentage(1539/3424);
    }

    strong {
      display: block;
      font-size:1.1em;
      margin: 0 0 1em 0;
      color: $cPurple;
    }

    .explanation {
      margin: auto;
      width: percentage(1030/1539);
      color:$cPurple;
      font-size:1em;
    }

    .btn  {
      margin: auto;
      font-weight:bold;
      padding: 4% 0;
      font-size:1.2em;
      width: percentage(1043/1539);
      margin: 0 auto .7em auto;
      background:$cPurple;
      color: $cWhite;
    }

    p {

    }
  }
}

section.issues {

}

section.about {

}

/*.inner {
width: 100%;
margin:0;
}

img {

width: 100%;
margin:auto;
@include absolute-landscape-center(700px);

}
 */
